.root {
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 16px;
}

.parameter_spinner {
    -fx-font-weight: bold;
}

.transparent-scroll-pane {
    -fx-background-color: transparent;
}

.transparent-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.tab:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-root {
    -fx-padding: 5px 5px 5px 5px;
}